header{
    nav{
        position: fixed;
        text-align: right;
        width: 100vw;
        ul{
            li{
                display: inline-block;
                list-style: none;
                padding-right: 50px;
                font-size: 24px;
                color: #000;

                &:hover{
                    color: green;
                    cursor: pointer;
                }
            }
        }
    }
}