.home{
    .details{
        float: right;
        margin-top: 30vh;
        margin-right: 20vw;
        p{
            font-size: 18px;
            span{
                font-size: 20px;
                font-weight: 700;
                margin-right: 10px;
            }
        }
    }
}