.badge{
    position: fixed;
    background: url('../assets/img/school.jpg');
    filter: blur(3px);
    width: 100vw;
    height: 100vh;
}

.login{
    position: relative;
    margin: 0;
    padding: 0;
    .credentials{
        position: absolute;
        right: 10vw;
        top: 50vh;

        input{
            background: transparent;
            display: block;
            margin-bottom: 10px;
            height: 30px;
            width: 500px;
            border: transparent;
            border-bottom: solid 1px #000;
            font-size: 16px;

            &::placeholder{
                color: #000;
                font-size: 16px;
            }

            &:focus{
                outline: none;
                font-size: 18px;
                border-bottom: solid 2px #000;
                &::placeholder{
                    font-size: 18px;
                }
            }
        }

        .button{
            text-align: center;
            height: 32px;
            width: 84px;
            background: green;
            border: none;
            border-radius: 1em;
            color: #fff;

            &:hover{
                box-shadow: rgba(0,0,0,0.75) 2px 2px 5px;
            }
        }

        .login_status{
            color: #fff;
            font-weight: 700;
        }
    }
}