.maintenance{
    padding: 120px 20vw 0px 20vw;
    .panel_btn{
        background: rgba($color: green, $alpha: 0.7);
        color: #fff;
        height: 200px;
        width: 200px;

        p{
            text-align: center;
        }
    }
    .panel_btn_row1{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding-bottom: 50px;
    }
    .panel_btn_row2{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

.panel{
    position: fixed;
    overflow: auto;
    scroll-behavior: smooth;
    width: 60vw;
    height: 70vh;
    background: rgba($color: #000000, $alpha: 0.9);
    box-shadow: #000 2px 2px 5px;
    
    .pstatus{
        color: red;
    }

    form{
        margin: 5vh 5vw;
        p{
            input{
                height: 30px;
                width: 50vw;
            }
        }
    }

    .panel_close_btn{
        color: #fff;
        float: right;
        margin: 20px;
        cursor: pointer;
    }
}

.panel_add_user{
    form{
        p{
            span{
                color: #fff;
            }
            select{
                margin-left: 20px;
                border: none;
                height: 32px;
            }
        }
        button{
            border: none;
            height: 32px;
            border-radius: 1em;
            cursor: pointer;
            background: green;
            color: #fff;

            &:hover{
                box-shadow: rgba($color: #fff, $alpha: 0.75) 1px 1px 5px;
            }
        }
    }
}

.panel_rm_user, .panel_update_user{
    .list{
        ul{
            li{
                color: #fff;
                font-size: 22px;
                line-height: 2rem;

                span{
                    font-size: 14px;
                    margin-left: 10px;
                }

                input{
                    margin-right: 15px;
                }
            }
        }
        button{
            outline: none;
            background: red;
            color: #fff;
            border: none;
            height: 32px;
            width: 74px;
            border-radius: 1em;
        }
    }

    .search{
        input{
            margin-right: 10px;
            width: 50%;
            height: 32px;
            border: none;
            outline: none;
        }
        button{
            height: 32px;
            width: 72px;
            border-radius: 1em;
            outline: none;
            background: blue;
            border: none;
        }
    }
}

.panel_update_user{
    .list{
        form{
            ul{
                li{
                    cursor: pointer;

                    &:hover{
                        color: lightgreen;
                    }
                }
            }
        }
    }
}

.toast{
    position: fixed;
    bottom: 10px;
    width: 100vw;
    text-align: center;
    font-size: 24px;
    color: green;
    font-weight: 700;
}