.staffs{
    .option{
        border: solid 1px #000;
        width: 10%;
        margin: 50px;
        position: fixed;
    }

    .list{
        width: 50%;
        overflow: auto;
        height: 80vh;
        margin: 0 auto;
        border: solid 1px #000;
        margin-top: 50px;

        ul{
            li{
                font-size: 28px;
                margin-bottom: 30px;

                button{
                    margin-left: 20px;
                }
            }
        }
    }
}